.temperatureSensorDiv{
    width: 100%;
    margin-bottom: 60px;
}

.sensorNames{
    display:flex;
    flex-direction: row;
}

.sensorTitles{
    float: left;
    background-color: chartreuse;
    margin: 10px;
    text-align: center;
    width: 12%;
    word-wrap: break-word;
}

.sensorTemps{
    clear: both;
    display: flex;
}

.sensors{
    background-color: brown;
    float: left;
    flex-direction: row;
    margin: 10px;
    width: 12%;
    text-align: center;
    box-shadow: 3px 3px 3px #333;
    word-wrap: break-word;
}